<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sanjitha Portfolio</title>

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

    <header class="navbar">

        <div class="logo">
            My Portfolio
        </div>

        <nav class="nav-links">

            <a href="/">Home</a>

            <a href="/projects">Projects</a>

            <a href="/hackathons">Hackathons</a>

            <a href="/courses">Courses</a>

            <a href="/workshops">Workshop</a>

            <a href="/about">About Me</a>

            <a href="/contact">Contact</a>

        </nav>

    </header>