<%- include('partials/header') %>

<section class="section">

    <h1 class="section-title">
        Certificates
    </h1>

    <!-- HACKATHONS -->

    <h2 class="sub-title">
        Hackathons
    </h2>

    <div class="cert-grid">

        <div class="cert-card">

            <img src="/images/hack1.png" alt="Hackathon 1">

            <h3>OssomeHacks 3.0</h3>

            <a href="#" target="_blank">
                View
            </a>

        </div>

        <div class="cert-card">

            <img src="/images/hack2.png" alt="Hackathon 2">

            <h3>HackTrax 2.0</h3>

            <a href="#" target="_blank">
                View
            </a>

        </div>

        <div class="cert-card">

            <img src="/images/hack3.png" alt="Hackathon 3">

            <h3>TechSprint 2026</h3>

            <a href="#" target="_blank">
                View
            </a>

        </div>

        <div class="cert-card">

            <img src="/images/hack4.png" alt="Hackathon 4">

            <h4>Hackathon 10.0</h4>

            <a href="#" target="_blank">
                View
            </a>

        </div>

    </div>

</section>

<!-- COURSES -->

<section class="section">

    <h2 class="sub-title">
        Courses
    </h2>

    <div class="cert-grid">

        <div class="cert-card">

            <img src="/images/course1.png" alt="Course 1">

            <h3>Web Development</h3>

            <a href="#" target="_blank">
                View
            </a>

        </div>

        <div class="cert-card">

            <img src="/images/course2.png" alt="Course 2">

            <h3>Digital Electronics</h3>

            <a href="#" target="_blank">
                View
            </a>

        </div>

        <div class="cert-card">

            <img src="/images/course3.png" alt="Course 3">

            <h3>Python</h3>

            <a href="#" target="_blank">
                View
            </a>

        </div>

        <div class="cert-card">

            <img src="/images/course4.png" alt="Course 4">

            <h4>DSP</h4>

            <a href="#" target="_blank">
                View
            </a>

        </div>

    </div>

</section>

<!-- WORKSHOPS -->

<section class="section">

    <h2 class="sub-title">
        Workshops
    </h2>

    <div class="cert-grid">

        <div class="cert-card">

            <img src="/images/work1.png" alt="Workshop 1">

            <h3>Data Science</h3>

            <a href="#" target="_blank">
                View
            </a>

        </div>

        <div class="cert-card">

            <img src="/images/work2.png" alt="Workshop 2">

            <h3> Generative AI</h3>

            <a href="#" target="_blank">
                View
            </a>

        </div>

    </div>

</section>

<%- include('partials/footer') %>