<%- include('partials/header') %>

<section class="section">

    <h1 class="section-title">
        Contact
    </h1>

    <div class="contact-icons">

        <a href="https://www.linkedin.com/in/sanjitha-s-7b683732b/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BCHd989ONT3eq38efTyO8qA%3D%3D">
            <i class="fa-brands fa-linkedin"></i>
        </a>

        <a href="http://github.com/sanjitha_s">
            <i class="fa-brands fa-github"></i>
        </a>

           <a
        href="mailto:sanjitha9906@gmail.com">
            <i class="fa-solid fa-envelope"></i>
        </a>

    </div>

</section>

<%- include('partials/footer') %>