<%- include('partials/header') %>

<section class="hero">

    <div class="hero-content">

        <h1>
            Hi, I'm <span>Sanjitha</span>
        </h1>

        <p class="text">
            Web Developer | Electronics Developer | AI Enthusist
        </p>

        <div class="hero-buttons">

            <a href="/projects" class="hero-btn">
                View Projects
            </a>

            <a href="/contact" class="hero-btn secondary-btn">
                Contact Me
            </a>

        </div>

    </div>

</section>

<%- include('partials/footer') %>