<%- include('partials/header') %>

<section class="hero">

    <h1>
        Hello, I'm <span>Sanjitha</span>
    </h1>

 <p class="typing-text">
    Web Developer | Electronics Developer | AI Enthusiast
</p>

   <a href="/projects" class="hero-btn">
    View My Work
</a>

</section>

<%- include('partials/footer') %>