<%- include('partials/header') %>

<section class="section">

    <h1 class="section-title">
        Projects
    </h1>

    <div class="project-grid">

        <div class="project-card">
            <h2>Blind Spot Detection System</h2>

            <p>
                Analog system to detect vehicles in blind zones.
            </p>
        </div>

        <div class="project-card">
            <h2>AI Carpooling App</h2>

            <p>
                Uses AI for route optimization and ride matching.
            </p>
        </div>

         <div class="project-card">
            <h2>Thermoelectric Power generator</h2>

            <p>
                Thermoelectric power generation system that converts heat energy into electrical energy using thermoelectric modules.          
             </p>
        </div>

         <div class="project-card">
            <h2>Password Door Lock system</h2>

            <p>
                Secure password-based electronic door lock system using keypad input and embedded control logic.         
             </p>
        </div>

    </div>

</section>

<%- include('partials/footer') %>