<%- include('partials/header') %>

<section class="section">

    <h1 class="section-title">
        Skills
    </h1>

    <div class="skills-grid">

        <div class="skill-card">
            Python
        </div>

        <div class="skill-card">
            Web Development
        </div>

        <div class="skill-card">
            Circuit Designing
        </div>

        <div class="skill-card">
            Arduino
        </div>

         <div class="skill-card">
            AI Fundamentals
        </div>

    </div>

</section>

<%- include('partials/footer') %>